{% block script %}{% endblock %}
<div id="titulo_opcion">
{% block titulo_opcion %}{% endblock %}
</div>
<div id="acciones_top">
{% block acciones_top %}{% endblock %}
</div>
<div id="cuerpo">
{% block cuerpo %}{% endblock %}
</div>
<div id="acciones_bottom">
{% block acciones_bottom %}{% endblock %}
</div>