{# src/Acme/BlogBundle/Resources/views/Opcion/index.html.twig #}
{% extends 'AdministradorAdjBundle::Layout.html.twig' %}
{% block titulo %}Opciones{% endblock %}
{% block titulo_opcion %}Opciones{% endblock %}
{% block acciones_top %}
<a href="{{ path('opcion_new') }}">
    Create a new entry
</a>
{% endblock %}
{% block cuerpo %}
{{ grid(grid,'APYDataGridBundle::blocks_js.jquery.html.twig') }}
{% endblock %}
{% block acciones_bottom %}
<a href="{{ path('opcion_new') }}">
    Create a new entry
</a>
{% endblock %}